@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'LyonTextRegular';
    src: url('/assets/fonts/LyonText-Regular-Web.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'NotionInter-Bold';
    src: url('/assets/fonts/NotionInter-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'NotionInter-Medium';
    src: url('/assets/fonts/NotionInter-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'NotionInter-Regular';
    src: url('/assets/fonts/NotionInter-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'NotionInter-SemiBold';
    src: url('/assets/fonts/NotionInter-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'NotionInter-Regular','Inter', sans-serif;
    scroll-behavior: smooth;
    cursor: default;
}
html,body{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: 'NotionInter-SemiBold';
    text-wrap: balance;
}
button{
    border: 0;
    background: none;
    cursor: pointer;
}
main{
    max-width: 1440px;
}
section{
    min-height: 100vh;
    padding: 0 8%;
}
a{
    text-decoration: none;
}
hr{
    width: 97%;
    background-color: #E5E5E5;
    height: 1px;
    border: none;
}

/* helper class */
.semi-bold {
    font-family: 'NotionInter-SemiBold';
}
.bold{
    font-family: 'NotionInter-Bold';
}
.t-s{
    color: #E5E5E5;
    padding: 0;
}
.b-s{
    background-color: #f6f5f4;
}
.gray{
    color: #78736f;
}
.hl-text{
    color: #2383e2;
    font-family: 'NotionInter-Medium';
    font-size: 18px;
}
.hl-text:hover {
    text-decoration: underline;
    text-decoration-color: #000;
    cursor: pointer;
}
.hl-text-bg{
    background-color: #0083fa;
}
.main-btn{
    background-color: #191918;
    color: #f6f5f4;
    padding: 8px 14px;
    border-radius: 5px;
    font-size: 1rem;
}

/* nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    font-weight: 500;
    padding: 15px 25px;

    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav .logo{
    width: 30px;
    height: 30px;
    margin-right: 30px;
    cursor: pointer;
}
nav p{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: 'NotionInter-SemiBold';
    cursor: pointer;
    
    border-radius: 4px;
    padding: 5px 10px;
    transition: .15s ease;
}
nav p:hover{
    background-color: #f4f4f4;
}
nav p span.dropdown-icon svg{
    width: 10px;
    height: 10px;
}
nav p span.new{
    color: #2383e2;
    background-color: #f0f6fd;
    font-size: 12px;

    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;

    font-family: 'NotionInter-SemiBold';
}
nav .left{
    display: flex;
    align-items: center;
    gap: 4px;
}
nav .right{
    display: flex;
    align-items: center;
    gap: 12px;

}
nav .right p:nth-child(1){
    font-family: 'NotionInter-SemiBold';
}
nav .right p{
    font-family: 'NotionInter-Medium';
    font-size: 15px;
}
nav .right button{
    font-family: 'NotionInter-Medium';
    font-weight: 500;
    font-size: 15px;

    transition: .15s ease;
}
nav .right button:hover{
    background-color: #31302e;
}

/* home section */
section.home{
    margin-top: 25px;
}
section.home .container{
    display: flex;
    justify-content: space-between;
} 
section.home .container h1{
    font-size: 76.5px;
    line-height: 72.675px;
    text-wrap: balance;
}
section.home .container p.p22{
    font-family: 'NotionInter-Medium';
    font-size: 22px;
}
section.home .container .left,section.home .container .right{
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
section.home .container .right video{
    width: 100%;
    height: 100%;
}
section.home .container .sign-up{
    color: #f6f5f4;
    background-color: #0083fa;
    padding: 11px 20px;
    border-radius: 5px;
    cursor: pointer;
}
section.home .container .sign-up:hover{
    background-color: #045ac3;
}
section.home .container .req-demo{
    color: #0083fa;
    background-color: #ebf5fe;
    padding: 11px 20px;
    border-radius: 5px;
    cursor: pointer;
}
section.home .container .req-demo:hover{
    background-color: #d6e1f5;
}
section.home .logo-container .logos{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}
section.home .logo-container .logos img{
    height: 24px;
    max-width: 90px;
}
section.home .btn-container{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
section.home .btn-container a{
    font-family: 'NotionInter-SemiBold';
}
section.home .img-box img{
    width: 100%;
    border-radius: 1rem;
    margin-top: 2.5rem;
}
section.home .bottom-btn{
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 1rem;
}
section.home .bottom-btn button{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size:16px;
    padding: 5px 12px;
    border-radius: .3125rem;
    border: 1px solid #19191843;
}
section.home .bottom-btn button:nth-child(1){
    background-color: #e5e5e5;
    border: none;
}

/* note section */
section.note{
    margin-top: 150px;
}
section.note .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
}
section.note .container h1{
    font-size: 60px;
    font-family: 'NotionInter-Bold';
    text-wrap: balance;
}
section.note .container h4{
    font-family: 'NotionInter-Bold';
}
section.note .container p.gray{
    font-family: 'NotionInter-Medium';
}
section.note .container .left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
section.note .container .right{
    display: flex;
    align-items: flex-start;
    gap: .5rem;
}
section.note .container .right .box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 270px;
}
section.note .container .right .box video{
    width: 80px;
    height: 80px;
}
section.note .video-box video{
    width: 100%;
    border-radius: 1rem;
    margin-top: 2.5rem;
}
section.note .bottom-icons{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
section.note .bottom-icons .box{
    display: flex;
    align-items: center;
    gap: .5rem;
}

/* workflow section */
section.workflow{
    margin-top: 150px;
}
section.workflow .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
}
section.workflow .container h1{
    font-size: 60px;
    font-family: 'NotionInter-Bold';
    text-wrap: balance;
}
section.workflow .container h4{
    font-family: 'NotionInter-Bold';
}
section.workflow .container p.gray{
    font-family: 'NotionInter-Medium';
}
section.workflow .container .left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
section.workflow .container .right{
    display: flex;
    align-items: flex-start;
    gap: .5rem;
}
section.workflow .container .right .box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 270px;
}
section.workflow .container .right .box video{
    width: 80px;
    height: 80px;
}
section.workflow .video-box video{
    width: 100%;
    border-radius: 1rem;
    margin-top: 2.5rem;
}
section.workflow .bottom-icons{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
section.workflow .bottom-icons .box{
    display: flex;
    align-items: center;
    gap: .5rem;
}

/* management section */
section.management{
    margin-top: 150px;
}
section.management .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
}
section.management .container h1 {
    font-size: 60px;
    font-family: 'NotionInter-Bold';
    text-wrap: balance;
}
section.management .container h4 {
    font-family: 'NotionInter-Bold';
}
section.management .container p.gray {
    font-family: 'NotionInter-Medium';
}
section.management .container .left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
section.management .container .right{
    display: flex;
    align-items: flex-start;
    gap: .5rem;
}
section.management .container .right .box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 270px;
}
section.management .container .right .box video{
    width: 80px;
    height: 80px;
}
section.management .video-box video{
    width: 100%;
    border-radius: 1rem;
    margin-top: 2.5rem;
}
section.management .bottom-icons{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
section.management .bottom-icons .box{
    display: flex;
    align-items: center;
    gap: .5rem;
}
section.management .bottom-icons .box img{
    width: 24px;
    height: 24px;
}

/* ai-promote section */
section.ai-promote{
    min-height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
section.ai-promote .container{
    position: relative;
    background-color: #F6F5F4;
    padding: 60px;
    transform: rotate(-3deg);
    width: max-content;
    height: max-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}
section.ai-promote .container .pin{
    position: absolute;
    top: -60px;

    left: 50%;
    transform: translateX(-50%);

    width: 68px;
    height: 99px;
}
section.ai-promote .container blockquote{
    font-size: 42px;
    font-family: 'LyonTextRegular';
}
section.ai-promote .container blockquote::before{
    content: open-quote;
}
section.ai-promote .container blockquote::after{
    content: close-quote;
}
section.ai-promote .container .forbes{
    width: 65px;
    height: 17px;
}

/* brain-boost section */
section.brain-boost .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
}
section.brain-boost .container h1 {
    font-size: 60px;
    font-family: 'NotionInter-Bold';
    text-wrap: balance;
}
section.brain-boost .container h4 {
    font-family: 'NotionInter-Bold';
}
section.brain-boost .container p.gray {
    font-family: 'NotionInter-Medium';
}
section.brain-boost .container .left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
section.brain-boost .container .right{
    display: flex;
    align-items: flex-start;
    gap: .5rem;
}
section.brain-boost .container .right .box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 270px;
}
section.brain-boost .container .right .box video{
    width: 80px;
    height: 80px;
}
section.brain-boost .video-box video{
    width: 100%;
    border-radius: 1rem;
    margin-top: 2.5rem;
}

/* templates section */
section.templates{
    margin-top: 150px;
}
section.templates .header h1{
    font-size: 60px;
    font-family: 'NotionInter-Bold';
    text-wrap: balance;
}
section.templates h2{
    font-family: 'NotionInter-Bold';
}
section.templates .header .hl-text{
    margin-top: 1rem;
}
section.templates .container{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    max-height: 550px;
}
section.templates .container .left{
    width: 50%;
}
section.templates .container .right{
    width: 50%;
}
section.templates .container .card{
    background-color: #F6F5F4;
    padding: 24px 32px;
    border-radius: 12px;
    overflow: hidden;

    width: 100%;
    height: 100%;

    cursor: pointer;
}
section.templates .container .card h2{
    font-size: 18px;
}
section.templates .container .card svg{
    width: 54px;
    height: 54px;
}
section.templates .container .left .card{
    padding: 24px 0 0 32px;
    display: flex;
    flex-direction: column;
    gap: 39px;
}
section.templates .container .left .card .img-box{
    position: relative;
    width: 100%;
}
section.templates .container .left .card .img-box .topcard:nth-child(1){
    position: absolute;
    top: -8px;
    left: 13px;
    background-color: #fff;
    border-top-left-radius: .75rem;
    border: 1px solid #00000012;

    height: 558px;
    width: 100%;
    z-index: 1;
}
section.templates .container .left .card .img-box .topcard:nth-child(2){
    position: absolute;
    top: -16px;
    left: 26px;
    background-color: #fff;
    border-top-left-radius: .75rem;
    border: 1px solid #00000012;

    height: 558px;
    width: 100%;
}
section.templates .container .left .card .img-box img{
    position: relative;
    border-top-left-radius: .75rem;
    border: 1px solid #00000012;
    width: 100%;
    z-index: 3;
}
section.templates .container .right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
}

/* everything section */
section.everything{
    padding-top: 150px;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
section.everything h1{
    font-size: 60px;
    max-width: 650px;
    font-family: 'NotionInter-Bold';
    text-wrap: balance;
}
section.everything p.gray{
    font-family: 'NotionInter-Medium';
    font-size: 18px;
}
section.everything .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 28px;
    row-gap: 48px;
}

@media (max-width: 1024px) {
    section.everything .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    section.everything .container {
        grid-template-columns: 1fr;
    }
}
section.everything .box{
    max-width: 283px;
    cursor: pointer;
}
section.everything .box:hover{
    color: #78736f;
}
section.everything .box video,section.everything .box img{
    width: 80px;
    height: 80px;
}
section.everything .box h3{
    font-size: 22px;
    font-family: 'NotionInter-SemiBold';
}

/* get-started section */
section.get-started{
    min-height: max-content;
    padding-bottom: 3rem;
}
section.get-started h1{
    font-size: 60px;
    margin-bottom: 50px;
    font-family: 'NotionInter-Bold';
    text-wrap: balance;
}
section.get-started .container{
    display: flex;
    gap: 1rem;
}
section.get-started .container h3{
    font-size: 42px;
    font-family: 'NotionInter-SemiBold';
}
section.get-started .box{
    background-color: #F6F5F4;
    border-radius: 12px;
    overflow: hidden;

    padding: 24px 32px 0 32px;

    height: 536px;
}
section.get-started .box img{
    width: 566px;
    height: 344px;
}
section.get-started .box .btn-container{
    display: flex;
    gap: 1rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 50px;
}
section.get-started .box .btn-container a{
    font-family: 'NotionInter-SemiBold';
}
section.get-started .box .btn-container a:nth-child(1){
    color: #f6f5f4;
    background-color: #0083fa;
    padding: 11px 20px;
    border-radius: 5px;
}
section.get-started .box .btn-container a:nth-child(1):hover{
    background-color: #045ac3;
}
section.get-started .box .btn-container a:nth-child(2){
    color: #191918;
    background-color: #fff;
    padding: 11px 20px;
    border-radius: 5px;
}
section.get-started .box .btn-container a:nth-child(2):hover{
    background-color: #eaeaea;
}
/* Footer Section */
footer{
    display: flex;
    gap: 24px;
    padding: 80px 125px;
}
footer .notion{
    display: flex;
    flex-direction: column;
    width: 270px;
    gap: 36px;
}
footer .notion .notion-logo{
    width: 136px;
    height: 29px;
}
footer .notion .social-container{
    display: flex;
    gap: 4px;
}
footer .notion .social-container a{
    color: #575757;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}
footer .notion .social-container a:hover {
    background-color: #eaeaea;
}
footer .notion .social-container a.shareLinkedIn:hover {
    color: #0077b5;
    background-color: #eaeaea;
}
footer .notion .social-container a.shareFacebook:hover {
    color: #1877f2;
    background-color: #eaeaea;
}
footer .notion .social-container a.shareYouTube:hover {
    color: #ff0000;
    background-color: #eaeaea;
}
footer .notion a{
    text-decoration: none;
    color: #78736f;
}
footer .notion .bottom{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 36px;
}
footer .notion .bottom button{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #78736f;
    border-radius: 5px;
    padding: 8px;
    width: max-content;
}
footer .notion .bottom button:hover{
    background-color: #eaeaea;
}
footer .notion .bottom p.gray:first-child{
    cursor: pointer;
}
footer .notion .bottom p.gray:first-child:hover{
    text-decoration: underline;
    text-decoration-color: #0083fa;
}
footer .notion .bottom p.gray:last-child{
    cursor: pointer;
}
footer .copyright{
    font-size: 14px;
}
footer .gray{
    font-size: 14px;
}

footer .link{
    display: flex;
    gap: 24px;
    height: max-content;
}
footer .link div{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 203px;
}
footer .link div p{
    font-weight: 600;
    font-family: 'NotionInter-SemiBold';
}
footer .link div a{
    color: #31302e;
    font-size: 15px;
}
footer .link div a:hover{
    text-decoration: underline;
    text-decoration-color: #0083fa;
}
footer .link div .explore{
    position: absolute;
    bottom: 0;
    color: #000;
    font-weight: 600;
}